body {
    background: rgb(205, 195, 146);
    background: radial-gradient(circle, rgba(205, 195, 146, 1) 6%, rgba(48, 76, 137, 1) 33%, rgba(158, 183, 229, 1) 48%, rgba(232, 229, 218, 1) 100%);
    background-attachment: fixed;
    backdrop-filter: blur(100%);
}

h1,
h2 {
    font-size: 2rem;
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #4962EA;
}

#text {
    width: 800px;
    margin: auto;
    font-size: 28px;
    letter-spacing: -0.01em;
    color: transparent;
    text-shadow: 0 0 0px rgba(0, 0, 0);
}

input[type=range] {
    display: block;
    margin: 20px auto;
    width: 500px;
}

#alert {
    color: red;
    display: none;
}