
  .html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.25;
  }
  
.site {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 68, 0, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), white;
    background-repeat: no-repeat;
    color: #FFF;
}
  
.site__header,
.site__nav-list {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 68, 0, 0.9)
  }
  
.site__header {
    position: fixed;
    top: 0;
    right: 1.25rem;
    writing-mode: vertical-rl;
    height: 100%;
    padding: 1.25rem 0;
    z-index: 20; /* to overlap the grid component */
  }
  
.site__header > * {
    flex: 1 1 auto;
    padding-bottom: .625rem;
  }
  
  .site__nav-list {
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .site__nav {
    padding-bottom: 0;
  }
  
  .site__nav-link {
    display: block;
    text-decoration: none;
    color: rgba(255, 186, 161, 0.9);
    padding-bottom: .625rem;
  }
  
  .site__nav-list li:last-child .site__nav-link {
    padding-bottom: 0;
  }
  
  .block {
    display: block;
  }
  
  .main {
    padding: 5rem 0;
    display: flex;
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    min-height: 100vh; /* make content as tall as the viewport */
    width: 100%;
  }
  
  .container {
    position: relative;
  }
  
  .heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  
  mark {
    color: #FFF;
    background-color: black;
    line-height: 1.35;
    padding: 6px;
  }
  
  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .grid-container {
    position: relative;
    align-items: center;
    margin:  auto;
    padding: 0 10%;
    max-width: 65rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    grid-template-rows: repeat(12, 1fr);
  }
  
  .grid__item--bg {
    grid-column: 2 / span 9;
    z-index: 0;
    grid-row: 1 / -1;
    position: relative;
    display:flex;
    align-items: center;
   scale: 1.9;
  }
  
  .grid__item--portrait-half {
    grid-column: 6 / span 6;
    position: relative;
    top: 300px;
    right: 80px;
    z-index: 2;
    grid-row: 1 / -1;
    scale:3;
  }
  
  .grid__item--portrait-neck {
    grid-column: 5 / span 4;
    grid-row: 6 / 11;
    z-index: 3;
    scale: 4;
    position: relative;
    bottom: 50px;
    left: 30px;
  }
  
  .grid__item--portrait-left {
    grid-column: 2 / span 4;
    grid-row: 6 / 12;
    z-index: 4;
  }
  
  .grid__item--portrait-eye {
    grid-column: 4 / span 2;
    grid-row: 3 / 5;
    z-index: 5;
    width: 70%;
    margin-top: 20%;
    justify-self: center;
    scale: 8;
    position: relative;
    bottom: 100px;

  }
  
  .grid__item--portrait-shirt {
   
    grid-column: 1 / span 2;
    grid-row: 11 / -1;
    z-index: 6;
  }
  
  .grid__item--portrait-bg-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
    z-index: 8;
  }
  
  .grid__item--portrait-bg-2 {
    -webkit-clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
    grid-column: 11 / -1;
    grid-row: 2 / 7;
    z-index: 8;
    scale: 9;
    position: relative;
    top: 600px;
    right: 150px;

  }
  
  .grid__item--portrait-bg-3 {
 
    grid-column: 1 / span 3;
    grid-row: 4 / 7;
    z-index: 4;
    position: relative;
    rotate: 180deg;
    scale: 4;
    left: 90px;
    bottom: 50px;
  }
  
.grid__item--portrait-bg-4 {
    grid-column: 10 / 12;
    grid-row: 1 / 6;
    z-index: 1;
}