.Mini-Titles {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    font-size: Medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-bottom: 0.5px solid #333333;
    z-index: 1;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.Mini-Titles a {
    text-decoration: none;
    color: black;
}

.Mini-Titles a:hover {
    font-style: italic;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 1rem;
}

.contact a {
    color: #333333;
    text-decoration: none;
    font-size: medium;
}

.contact a:hover {
    color: blue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}

.body-container {
    padding: 3rem 1rem;
}

img {
    position: fixed;
    width: 600px;
    top: 150px;
    right: 150px;
}

span {
    font-family: "erotica-big", sans-serif;
}