body,
html {
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
    cursor: url(Images/fork.png), auto;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: greenyellow;
    color: #333333;
}

::-moz-selection {
    background-color: greenyellow;
    color: #333333;
}

.Mini-Titles {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    font-size: Medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    width: 100%;
    background-color: whitesmoke;
    height: 40px;
    border-bottom: 0.5px solid #333333;
    z-index: 1;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.Mini-Titles p,
.Mini-Titles a {
    margin: 0;
    color: #333333;
    text-decoration: none;
}

.Mini-Titles a:hover {
    text-decoration: none;
    color: greenyellow;
}

#info {
    font-style: italic;
}


#selected-works {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: Medium;
    transform: rotate(5deg);
}

.header {
    margin-top: 3.5rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
}

img {
    filter: grayscale(0%);
    transition: 0.5s;
    cursor: url(Images/fork.png), auto;
}

.boxcontainer {
    background-color: whitesmoke;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    ;
}

.footer a {
    color: #333333;

}

.contact {
    padding-top: 3rem;
}

.contact a {
    color: #333333;
    text-decoration: none;
    font-size: medium;
}

.contact a:hover {
    color: yellowgreen;
}

.archive {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.entry {
    width: 100%;
    aspect-ratio: 3 / 2;
}

@media (min-width: 768px) {
    .archive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
    }

    .entry {
        aspect-ratio: 3 / 2;
        width: 100%;
        height: auto;
    }



}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
    }
}

#one {
    background-image: url("thumbnails/home_publication.jpg");
    background-size: cover;
    background-position: center center;
}

#two {
    background-image: url("thumbnails/social_campaign.png");
    background-size: cover;
}

#three {
    background-image: url("thumbnails/glowgirl.png");
    background-size: cover;
    background-position: center center;
}

#four {
    background-image: url("thumbnails/qrcode.png");
    background-size: 100% auto;
    background-position: center center;
}

#five {
    background-image: url("thumbnails/highline.png");
    background-size: cover;
}

#six {
    background-image: url("thumbnails/flower_store.png");
    background-size: cover;
}

#seven {
    background-image: url("thumbnails/1st.gif");
    background-color: #333333;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


#categorySelect {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: whitesmoke;
    padding: 0px 7px 0px 7px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: Medium;
}


.subtitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 20px;
}


.contact {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}