body,
html {
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
    cursor: url(Images/fork.png), auto;
    background-color: whitesmoke;
}

.Mini-Titles {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    font-size: Medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    width: 100vw;
    background-color: whitesmoke;
    height: 40px;
    border-bottom: 0.5px solid #333333;
    z-index: 1;
}

.mini-titles-container {
    display: flex;
    color: #333333;
    position: fixed;
    right: 10px;
    font-style: italic;
}

#selected-works {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: Medium;
}

.header {
    margin-top: 3.5rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
}

img {
    filter: grayscale(0%);
    transition: 0.5s;
    cursor: url(Images/fork.png), auto;
}

.boxcontainer {
    background-color: whitesmoke;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.archive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 7rem;
}

.entry {
    width: 800px;
    height: 500px;
}

@media (min-width: 768px) {
    .entry {
        aspect-ratio: 16 / 9;
        width: 50%;
    }

    .archive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 6rem;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
    }
}

#one {
    background-image: url("thumbnails/home_publication.jpg");
    background-size: cover;
    background-position: center center;
}

#two {
    background-image: url("thumbnails/social_campaign.png");
    background-size: cover;
}

#three {
    background-image: url("thumbnails/glowgirl.png");
    background-size: cover;
}

#four {
    background-image: url("thumbnails/qrcode.png");
    background-size: 100% auto;
    background-position: center center;
}

#five {
    background-image: url("thumbnails/highline.png");
    background-size: cover;
}

#six {
    background-image: url("thumbnails/flower_store.png");
    background-size: cover;
}

#categorySelect {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: whitesmoke;
    padding: 0px 7px 0px 7px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: Medium;
}


.subtitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}


.contact {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}