h1 {
    font-family: "podium-soft-variable", sans-serif;
    font-variation-settings: "wdth" 100;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
}

.titles {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titles a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: url(fork.png), auto;

}


img {
    position: relative;
    top: 0px;
    left: 30px;
    max-width: 100%;
    width: 100px;
    transform: rotate(90deg);
}

#fibonacci {
    transform: rotate(240deg);
    display: none;
}

#second-seashell {
    position: absolute;
    left: 170px;
    top: 90px;
    transform: rotate(360deg);
    max-width: 100%;
    width: 100px;
}

#second-shell-bw {
    position: absolute;
    transform: rotate(360deg);
    max-width: 100%;
    width: 80px;
    left: 190px;
    top: 80px;
    display: none;
}

#paragraph-top-right {
    position: absolute;
    width: 100px;
    height: 400px;
    margin: auto;
    right: 190px;
    top: 80px;
}

#third-seashell {
    position: absolute;
    width: 100px;
    margin: auto;
    right: 100px;
    top: 600px;
}

#third-bw {
    position: absolute;
    width: 100px;
    margin: auto;
    right: 100px;
    top: 600px;
    display: none;
}

#third-colorfull {
    position: absolute;
    width: 100px;
    margin: auto;
    right: 100px;
    top: 600px;
    display: none;
}


.climate-change-para {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-align: right;
}

@media screen and (max-width: 900px) {

    h1 {
        color: #FFF4C5;
        letter-spacing: 5px;

    }

    hr {
        color: #FFF4C5;
    }

    body {
        background-color: black;
    }

    #seashell {
        display: none;
    }

    #fibonacci {
        display: block;
    }

    #second-seashell {
        display: none;
    }

    #second-shell-bw {
        display: block;
    }

    #third-seashell {
        display: none;
    }

    #third-bw {
        display: block;
    }

    .climate-change-para {
        color: #FFF4C5;
    }

    .titles a {
        color: whitesmoke;
    }


}

@media screen and (max-width: 600px) {

    #third-colorfull {
        display: block;
    }

    #third-bw {
        display: none;
    }

    .titles a {
        color: red;
    }

    .climate-change-para {

        color: #ff0000;
    }

    h1 {
        color: #ff03ea;
        letter-spacing: 5px;

    }


}