@font-face {
    font-family: 'Pelikan';
    src: url('../font/ABCPelikan-Light-Trial.woff2') format('woff2'),
        url('../font/ABCPelikan-Light-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
html {
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
    cursor: url(Images/fork.png), auto;
    background-color: #F9F9F9;
}

.Mini-Titles {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    font-size: Medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    width: 100vw;
    background-color: #F9F9F9;
    height: 40px;
    border-bottom: 0.5px solid #333333;
    z-index: 1;
}

.Mini-Titles :hover {
    color: #d0e3ff
}


.mini-titles-container {
    color: #333333;
    position: fixed;
    right: 10px;
    font-style: italic;
}


.header {
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.scroll-wrapper {
    position: relative;
    width: 100vw;
    margin-top: 15rem;
    overflow: hidden;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-container {
    scrollbar-width: none;
}

#scroll-arrow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
    z-index: 10;
}

#scroll-arrow-icon {
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.15s ease;
    color: blue;
}

#scroll-arrow-overlay.dir-left #scroll-arrow-icon {
    transform: translate(-50%, -50%) rotate(180deg);
}

.item {
    flex: 0 0 auto;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    scroll-snap-align: start;
}

#one {
    background-image: url(images/one.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#two {
    background-image: url(images/animation.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#three {
    background-image: url(images/two.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#four {
    background-image: url(images/three.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#five {
    background-image: url(images/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#six {
    background-image: url(images/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.description {
    display: flex;
    top: 6rem;
    font-family: "Pelikan";
    font-size: small;
    align-items: first baseline;
    width: 80%vw;
    justify-content: space-between;
    position: fixed;
    gap: 100px;
    padding-left: 50px;
}

.options a {
    positon: fixed;
    top: 6rem;
    right: 50px;
    z-index: 1;

}

#titles {
    color: #333333;
    font-family: "Pelikan";
    font-size: small;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    line-height: 2px;
}

span {
    font-weight: bold;
}

#date {
    text-transform: lowercase;
    font-style: italic;
    font-size: small;
}

h1 {
    font-family: "Pelikan";
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
}

#artbio {
    width: 700px;
}

@media (max-width: 768px) {

    body,
    html {
        overflow: auto;
        max-width: 100%;
        cursor: url(Images/fork.png), auto;
        background-color: #F9F9F9;
    }

    .horizontal-scroll-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .item {
        flex: 0 0 auto;
        width: 80%;
        height: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        scroll-snap-align: start;
    }

    .description {
        top: 6rem;
        font-family: "Pelikan";
        font-size: small;
        align-items: first baseline;
        width: 80%vw;
        justify-content: space-between;
        position: fixed;
    }

}