html, body{
    background-color: whitesmoke;
}

.top-bar{
    position:fixed;
    top:0px;
    left:0px;
}

.search-panel{
    display:flex;
    align-items: center;

}



.catalog{
    display:flex;
    width:250px;
    height:40px;
    background: #E8E7E7;
    color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 0.5px black;
    font-size: x-small;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.catalog:hover{
    background-color: aquamarine;
    color:whitesmoke;
}

.search-bar{
    display:flex;
    width:250px;
    height:40px;
    background:#E8E7E7;
    box-shadow: 0 0 0 0.5px black;
    color:black;
    justify-content: center;
    font-size: x-small ;
    align-items: center;
    text-align: center;
    transition-duration: 1s;
}

.search-bar:hover{
    background-color: #9B8384;
    color:whitesmoke;
}

.heading{
    display:flex;
    width: 500px;
    height:40px;
    background:;
    box-shadow: 0 0 0 0.5px black;
    color:black;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.cart{
    display:flex;
    width:250px;
    height:40px;
    background:#E8E7E7;
    box-shadow: 0 0 0 0.5px black;
    color:black;
    justify-content: center;
    font-size: x-small ;
    align-items: center;
    text-align: center;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.account{
    display:flex;
    width:250px;
    height:40px;
    background:#E8E7E7;
    box-shadow: 0 0 0 0.5px black;
    color:black;
    justify-content: center;
    font-size: x-small ;
    align-items: center;
    text-align: center;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 200;
    font-style: normal;
}


