html,
body {
    background-image: url(Paper\ texture.jpeg);
    background-size: cover;
    max-height: auto;
}

.linkedtitles {
    display: flex;
    justify-content: space-between;
}

.linkedtitles a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.flex-box {
    display: flex;
}

.first img {
    max-width: auto;
    max-height: 150px;
    transition: 1s;
}

.first img:hover {
    opacity: 0;
}

.second img {
    max-width: auto;
    max-height: 150px;
    transition: 1s;
}

.second img:hover {
    opacity: 0;
}