body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    background-image: url(Paper\ texture.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.titles {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titles a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: url(fork.png), auto;

}

h1 {
    font-family: "parlare", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(38, 0, 255);
    font-size: 3rem;
    margin-bottom: 0.5em;
    display: flex;
    max-width: 400px;
    position: relative;
    left: 20px;
}

p {
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    display: flex;
    position: relative;
    left: 1000px;
    margin-bottom: 2em;
    max-width: 400px;

}

#seashells {
    height: 100vh;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    background-size: cover;
    scale: 1.5;

}