body,
html {
    background-color: whitesmoke;
    cursor: zoom-in;
    margin: 0;
    padding: 0;
    height: 100%;
}

.hover-text {
    font-size: 24px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    z-index: 10;
    /* Keep it above the fullscreen image */
    position: relative;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/metalic-water.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 1;
    pointer-events: none;
}

.hover-text:hover~.fullscreen-overlay {
    opacity: 1;
}



.interactive-navigation {
    display: flex;
    justify-content: space-between;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.interactive-navigation a {
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "salo-variable", sans-serif;
    font-variation-settings: "opsz" 1;
    color: black;

}

h5 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.number {
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: black;
    transition: 1s;
}

.number:hover {
    font-size: 2rem;
    color: black;
    cursor: zoom-out;

}

.groundbreaking {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 1, "wght" 450;
    transition: 1s;
    font-size: 3rem;
}

.groundbreaking:hover {
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
}

.ivyora {
    font-family: "ivyora-display", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    color: #000000;
    transition: 1s;
}

.ivyora:hover {
    color: black
}

.facts {
    color: black
}

.about {
    font-family: "nicholas", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.seashells-parent-hover {
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: black;
}

.first-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url('Images/first-line-cursor.png'), auto;
}

.first-scentence {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 200, "wght" 450;
    font-size: 2rem;
    transition: 1s;
}

.first-scentence:hover {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size: 2rem;
    color: black
}

.isnt {
    font-family: "margarita", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
    font-size: 3rem;
}

.isnt:hover {
    opacity: 0;
}

.tiny-font {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.5rem;
}

.all-selected-a {
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;

}

.all-selected-a:hover {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size: 4rem;
    color: black;
}

.portable {
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: black;
}

.portable:hover {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size: 4rem;
    color: black;
}

.the {
    font-family: "narkiss-hadash-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.the:hover {
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size: 3rem;
    color: black;
}

.second-line {
    display: flex;
    justify-content: space-between;
    line-height: 0.5;
    cursor: url(Images/second-line-cursor.png), auto;
}

.third-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/third-line-cursor.png), auto;
}

.fourth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/fourth-line-cursor.png), auto;
}

.fifth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/fifth-line-cursor.png), auto;
}

.sixth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/sixth-line-cursor.png), auto;
}

.seventh-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/seventh-line-cursor.png), auto;
}

.eighth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/eigth-line-cursor.png), auto;
}

.ninth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/first-line-cursor.png), auto;
}

.tenth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/second-line-cursor.png), auto;
}

.eleventh-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/third-line-cursor.png), auto;
}

.twelfth-line {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/fourth-line-cursor.png), auto;
}

.line-thirteen {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/fifth-line-cursor.png), auto;
}

.line-fourteen {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/sixth-line-cursor.png), auto;
}

.line-fifteenth {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 0.5;
    cursor: url(Images/seventh-line-cursor.png), auto;
}


.hover-text {
    display: flex;
    justify-content: center;
    letter-spacing: px;
    color: black;
    opacity: 1;
}

.fullscreen-image {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-image: url('metalic-water.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.hover-text:hover {
    opacity: 0;
}


.hover-text:hover .fullscreen-image {
    opacity: 1;
}