body,html{
    background-color: #F7F6EB;
    cursor: zoom-in;
}
.interactive-navigation{
    display:flex;
    justify-content: space-between;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.interactive-navigation a{
    text-decoration:none;
    color: #A5B7E5;
}

h1{
    display:flex;
    justify-content: center;
    font-family: "salo-variable", sans-serif;
    font-variation-settings: "opsz" 1;
    color: #382020;
    
}

.number{
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #A5B7E5;
    transition: 1s;
}

.number:hover{
    font-size: 2rem;
    color:  #382020 ;
    
}

.groundbreaking{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 1, "wght" 450;
    transition: 1s;
    font-size: 3rem;
}

.groundbreaking:hover{
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
}

.facts{
    color:#FF855A
}
.about{
    font-family: "nicholas", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.seashells-parent-hover{
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #A5B7E5;
}

.first-line{
    text-align: justify;
    line-height: 0.01;
    cursor: url('first-line-cursor.png'), auto;
}

.first-scentence{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 200, "wght" 450;
    font-size:2rem;
    transition:1s;
}

.first-scentence:hover{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size:2rem;
    color:#FF855A
}

.isnt{
    font-family: "margarita", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity:1;
    font-size: 3rem;
}

.isnt:hover{
    opacity:0;
}

.tiny-font{
    font-family: "glammo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.all-selected-a{
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    
}

.all-selected-a:hover{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size:4rem;
    color:#382020;
}

.portable{
    font-family: "erotica-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #A5B7E5;
}

.portable:hover{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size:4rem;
    color:#382020;
}

.the{
    font-family: "narkiss-hadash-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:2rem;
}

.the:hover{
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 3, "RECT" 1, "BACK" 900, "wght" 450;
    font-size:3rem;
    color:#382020;
}



.second-line{
    line-height: 0.01;
    cursor: url(second-line-cursor.png), auto;
}

.third-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(third-line-cursor.png), auto;
}

.fourth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(fourth-line-cursor.png), auto;
}

.fifth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(fifth-line-cursor.png), auto;
}

.sixth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(sixth-line-cursor.png), auto;
}

.seventh-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(seventh-line-cursor.png), auto;
}

.eighth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(eigth-line-cursor.png), auto;
}

.ninth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(first-line-cursor.png), auto;
}

.tenth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(second-line-cursor.png), auto;
}

.eleventh-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(third-line-cursor.png), auto;
}

.twelfth-line{
    text-align:justify;
    line-height:0.01;
    cursor: url(fourth-line-cursor.png), auto;
}

.line-thirteen{
    text-align:justify;
    line-height:0.01;
    cursor: url(fifth-line-cursor.png), auto;
}

.line-fourteen{
    text-align:justify;
    line-height:0.01;
    cursor: url(sixth-line-cursor.png), auto;
}

.line-fifteenth{
    text-align:justify;
    line-height:0.01;
    cursor: url(seventh-line-cursor.png), auto;
}


.hover-text{
    display:flex;
    justify-content: center;
    letter-spacing: 20px;
}

.fullscreen-image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('metalic-water.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.hover-text:hover .fullscreen-image{
    opacity:1;
}
