.body,
html {
    background-color: black;
    overflow-x: hidden;
}

.img {
    opacity: 0.5;
}

.lightstroke {
    font-family: "nicholas", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.body-text {
    position: relative;
    top: 100px;
    left: 250px;
    color: whitesmoke;
    font-family: "nicholas", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    line-height: 2rem;
}

.titles {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titles a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

#first-image {
    position: absolute;
    top: 150px;
    right: 160px;
    max-width: 100%;
    width: 500px;
    filter: blur(6px);
    transition-duration: 2s;
}

#first-image:hover {
    filter: blur(0px);
}


#second {
    position: relative;
    bottom: -120px;

}

.short-text {
    position: absolute;
    text-align: center;
    top: 1000px;
    right: 50%%;
    width: 100vw;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
    transition: 3s;
}

.short-text span {
    font-size: x-large;
    transition: 3s;
}

.short-text:hover span {
    opacity: 0;
}