.body, html{
    background-color: black;
    
}

.body-text{
    color:whitesmoke;
}

.titles{
    color:whitesmoke;
    display:flex;
    justify-content: space-between;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}

.titles a{
    display:block;
    text-decoration: none;
    color:whitesmoke;
}

.titles .{
    color:blue;
}
