
h1 {
  text-align: center;
  font-family: Helvetica;
  font-weight: 50;
}

.datetitle {
  display: inline-block;

  font-size: smaller;
}

#Entry1 {
  text-align: center;
}

.sbt {
  text-align: right;
  color:blue;
  font-size: small;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  position: relative;
  text-align: center;
}

.first-paragraph {
  display: inline-block;
  text-align: right;
  text-align: justify;
  align-items: flex-end;

}

.Scndpara {
  text-align: justify;
}

.scndtitle {
  font-weight: bolder;
  font-size: xx-large;
  color: greenyellow;
}

.thrdtitle {
  color: greenyellow;
  text-align: center;
  font-weight: 900;
}

.frthtitle{ 
  color: greenyellow;
  text-align: center;
  font-weight: 900;
}

.Molluscantitle {
  color: greenyellow;
 text-align: center;
 font-weight: 900;
}


body,
html {
  overflow: auto; 

}